:root {
    --red: #FF0000;
    --orange: #FFA500;
    --yellow: #FFFF00;
    --magenta: #FF00FF;
    --black: #000000;
    --white: #FFFFFF;

    --navbar-gradient: linear-gradient(#4c5054, #212529);
    --button-gradient: linear-gradient(#FFA500, #ffeb67);
    --button-gradient-hover: linear-gradient(#fcbf4d, #fcf0a4);
    --page-gradient-red: linear-gradient(#000000, #520a0a);
    --page-gradient-cyan: linear-gradient(#000000, #0a5240);
    --page-gradient-purple: linear-gradient(#000000, #3b0a52);
    --page-gradient-orange: linear-gradient(#000000, #52310a);
    --light-gradient2: linear-gradient(#f8f9fa, #cbced1);
}