body {
    background-color: #1b1b2f;
    color: var(--white);
}

p {
    color: var(--white);
}

.alert-sticky-msg1 { 
    position: absolute;
    top: 0;
    width: 100%;
}

.sidebar {
    background: linear-gradient(325deg, #16161d, var(--admin-primary-color-1));
    border-right: 3px solid;
    border-image: linear-gradient(25deg, var(--neon-gradient-color-4), var(--neon-gradient-color-3), var(--neon-gradient-color-2), var(--neon-gradient-color-3), var(--neon-gradient-color-4)) 1;
    width: 260px;
    height: 100vh;
    color: var(--white);
    padding: 20px 0;
}

.sidebar .menu a {
    display: block;
    color: var(--white);
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition: background 0.2s;
}

.sidebar .menu a:hover {
    background-color: var(--admin-primary-color-2);
}

.sidebar .menu .active {
    background-color: var(--admin-primary-color-2);
}

.content {
    padding: 2rem;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.status {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.status::before {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #44fd8e;
    box-shadow: 0 0 8px #44fd8e;
}

.card-custom {
    background: linear-gradient(1deg, rgba(59, 59, 98, 0.4), var(--admin-secondary-color-1));
    border: none;
    border-radius: 12px;
}

.card-custom h5 {
    color: var(--admin-label-color-1);
}

.logout-btn {
    background-color: #8000ff;
    border: none;
}

.logout-btn:hover {
    background-color: #a64dff;
}

.admin-custom-table-1 {
    border-radius: 12px;
    width: 100%;
}

.admin-custom-table-1 > div > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);}

.admin-custom-table-1 > div:first-child {
    border-bottom: 1px solid;
    border-image: linear-gradient(85deg, var(--neon-gradient-color-4), var(--neon-gradient-color-3), var(--neon-gradient-color-2), var(--neon-gradient-color-3), var(--neon-gradient-color-4)) 1;
}

.admin-custom-table-1 > div > div > div {
    padding: 12px;
}

.admin-custom-table-1 > div:first-child > div > div {
    background-color: transparent;
    font-weight: bold;
}

.admin-custom-table-1 > div:nth-child(2) > div:nth-child(odd) > div {
    background-color: rgba(var(--admin-table-odd-bg-rgb), 0.7);
}

.admin-custom-table-1 > div:nth-child(2) > div:nth-child(even) > div {
    background-color: rgba(var(--admin-table-even-bg-rgb), 0.7);
}

