:root {
    --neon-gradient-color-1: #FF0000;
    --neon-gradient-color-2: #FFA500;
    --neon-gradient-color-3: #FFFF00;
    --neon-gradient-color-4: #FF00FF;
    --black: #000000;
    --white: #FFFFFF;
    --lightgray: #DCDCDC;
    --darkgray: #1A1A1A;

    --navbar-gradient: linear-gradient(#4c5054, #212529);
    --button-gradient: linear-gradient(#FFA500, #ffeb67);
    --button-gradient-hover: linear-gradient(#ff8800, #ffce67);

    --page-gradient-red: linear-gradient(#000000, #520a0a);
    --page-gradient-cyan: linear-gradient(#000000, #0a5240);
    --page-gradient-purple: linear-gradient(#000000, #3b0a52);
    --page-gradient-orange: linear-gradient(#000000, #52310a);
    --page-gradient-yellow: linear-gradient(#000000, #52480a);
    --page-gradient-green: linear-gradient(#000000, #16520a);
    --page-gradient-blue: linear-gradient(#000000, #0a3052);

    --light-gradient: linear-gradient(#f8f9fa, #cbced1);

    --game-box-shadow-color-1: rgba(255, 0, 255, 0.2);
    --game-article-img-border-color-1: yellow;
    --game-article-img-box-shadow-color-1: orange;

    --admin-primary-color-1: #490f74;
    --admin-primary-color-2: #542384;
    --admin-primary-color-3: #4c1c7c;

    --admin-primary-rgb-1: 73, 15, 116;
    --admin-primary-rgb-2: 84, 35, 132;
    --admin-primary-rgb-3: 76, 28, 124;
    --admin-secondary-color-rgb-2: 164, 133, 193;

    --admin-secondary-color-1: #2b2b4a;
    --admin-secondary-color-2: #a485c1;
    --admin-tertiary-color: #e6ccff;

    --admin-header-color-1: #c084fc;

    --admin-label-color-1: #ffccff;
    --admin-label-color-2: #ffe6ff;

    --general-input-color-1: #2E2636;

    --admin-table-odd-bg-rgb: 35, 7, 56;  /* Equivalent to #230738 */
    --admin-table-even-bg-rgb: 49, 10, 79;  /* Equivalent to #310a4f */
}